<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011206978278-vg4rbajdt5nvel0ouioigsqa8ohpndrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011206978278-vg4rbajdt5nvel0ouioigsqa8ohpndrq</string>
	<key>API_KEY</key>
	<string>AIzaSyDcf_IjlAHGAWvZr4DOLVurC9EqjNnMEOw</string>
	<key>GCM_SENDER_ID</key>
	<string>1011206978278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeyad.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>myuber-87282</string>
	<key>STORAGE_BUCKET</key>
	<string>myuber-87282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011206978278:ios:e7e377851d0140ef</string>
	<key>DATABASE_URL</key>
	<string>https://myuber-87282.firebaseio.com</string>
</dict>
</plist>